main{
    background-color: #E2E9EC;
    height:100vh;
   padding-top:10px;
   
}
.invoiceContainer{
   
    background-color: #E2E9EC;
   
}
.invoicBox{
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;
    background-color: #E2E9EC;
}
label{
    padding-left:10px;
     

}

.invoiceapp{
    background-color: white;
    padding:30px;
    width:60%;
    margin:auto;
}
.form{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    padding-top:50px;
    background-color: #E2E9EC;
  
}
.gifloader{
    height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}
textarea{
    width:100%;
    resize: none;
    height:250px;
}
@media screen and (max-width:768px){
    .form{
        width:90%;
    }
    .invoiceapp{
        background-color: white;
        padding:50px;
        width:90%;
        margin:auto;
        padding:10px;
    }
}