button{
    background-color: #10374A;
    color:white;
    padding:10px;
    border:none;
    outline:none;
    border-radius: 30px;
}

.header{
    background-color: #E2E9EC;
    height:500px;
}
.header .headerContainer{
    display:flex;
    align-items: center;
    width:80%;
    margin:auto;
    gap:20px;
  margin-top:30px;
}
.header .headerContainer .headertitle{
    display:flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-right:25px;
}
.header .headerContainer .headertitle h1{
    color:black;
    font-size:25px;
    font-weight: 600;
}
.header .headerContainer .headertitle p{
font-size:18px;
}
.header .headerContainer .headerimg{
   background-color: white;
   padding:10px;

}
.header .headerContainer .headerimg img{
    width:500px;
    height:300px;

}
.headerbtn{
            width:200px;
            margin-left:-330px;
}
.headerbtn button{
    background-color: #10374A;
    color:white;
    padding:10px;
    border:none;
    outline:none;
    border-radius: 30px;
}
.benefitsContainer{
    width:100%;
    background-color: #10374A;
    height:300px;
    color:white;
    padding-top:100px;
    display:flex;
   
   
   
}
.benefitsContainer .benefits{
    display:flex;
   gap:20px;
   
    width:80%;
    margin-left:auto;
    margin-right: auto;
   
}
.workContainer{
    background-color: #E2E9EC;
    height:600px;
    padding-top:50px;
}
.does{
    margin:20px;
    padding:20px;
}
.does h1{
    font-size:25px;
}
.does p{
    font-size:16px;
    letter-spacing: 0.1rem;
}
.workContainer .works{
    display:flex;
   width:80%;
   margin:auto;
   gap:20px;
}
.works p{
    font-size:13px;
    width:250px;
}
.work1 , .work2 , .work3{
    height:250px;
    width:300px;
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left:20px;
    padding-right:20px;
}
.work1{
    background-color:#10374A; ;
}
.work2{
    background:#FF2D55;
}
.work3{
    background-color: rgb(31, 31, 122);
}
.signupContainer{
    background-color: #E2E9EC;
    height:500px;
    padding-top:100px;
}
.signupContainer h5{
    font-weight: 700;
    font-size:30px;
}
.signupContainer button{
    width:200px;
}
.customersContainer{
height:350px;
padding:30px;
}
.customersContainer .customers{
    display:flex;
    align-items: center;
    width:50%;
    margin:auto;
    gap:20px;
}
.business{
    height:800px;
    padding:30px;
}
.businessContainer{
    display:flex;
    gap:25px;
    width:90%;
    margin:auto;
    color:white;
}
.business .b1{
   
    height:600px;
    width:500px;
    position:relative;
   
}
.b1 .b1title{
    position: absolute;
    z-index:111;
    top:20px;
    left:20px;
}
.b1 img{
    width:100%;
    height:100%;
    filter: brightness(50%);
    border-radius: 20px;
}
.bbtn{
    background: transparent;
    font-size:18px;
    width:200px;
}
.business .b2{
   
    height:600px;
    width:500px;
    position: relative;
 
    
}
.b2 .b1title{
    position: absolute;
    z-index:111;
    top:20px;
    left:20px;
}
.b2 img{
    width:100%;
    height:100%;
    filter:brightness(50%); 
    border-radius: 20px;
}
.business .b3{
    background-image: url();
    height:600px;
    width:500px;
   
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.b3 .b1title{
    position: absolute;
    z-index:111;
    top:20px;
    left:20px;
}
.b3 img{
    width:100%;
    height:100%;
    filter:brightness(50%); border-radius: 20px;
}

.business h1{
    text-align: left;
}
.business h2{
    font-size:16px;
    margin:20px;
}
.business p{
    font-size: 14px;
}

@media screen and (max-width:768px) {
    .business .b1{
   
        height:600px;
        width:300px;
        position:relative;
       
    }
    .business .b2{
   
        height:600px;
        width:300px;
        position:relative;
       
    }
    .business .b3{
   
        height:600px;
        width:300px;
        position:relative;
       
    }
    
    .business{
        height:unset;
        padding:30px;
    }
    .businessContainer{
        display:flex;
        gap:25px;
        width:90%;
        margin:auto;
        color:white;
        flex-direction: column;
    }
    .customersContainer{
        height:unset;
    }
    .customersContainer .customers{
        display:flex;
        align-items: center;
        width:50%;
        margin:auto;
        flex-direction: column;
    }
    .signupContainer h5{
        font-weight: 700;
        font-size:20px;
        padding:20px;
    }
    .header .headerContainer{
        display:flex;
        align-items: center;
        flex-direction:column;
        width:80%;
        margin:auto;
        gap:20px;
      margin-top:30px;
    }
    .headerbtn{
        width:200px;
        margin-left:0px;
}
.header .headerContainer .headertitle{
    display:flex;
    flex-direction: column;
    gap:15px;
    align-items: center;
    justify-content: center;
    text-align: justify;
    margin-right:0px;
}
    .header .headerContainer .headerimg{
        background-color: white;
        padding:10px;
        display:none;
     
     }
     .header .headerContainer .headerimg img{
         width:500px;
         height:300px;
     
     }
     .benefitsContainer{
        width:100%;
        background-color: #10374A;
        height:800px;
        color:white;
        padding-top:0px;
        display:flex;
       
       
       
    }
     .benefitsContainer .benefits{
        display:flex;
       gap:20px;
       flex-direction: column;
       align-items: center;
       justify-content: center;
        width:80%;
        margin-left:auto;
        margin-right: auto;
       
    }
    .workContainer .works{
        display:flex;
       width:80%;
       flex-direction: column;
       margin:auto;
       gap:20px;
       color:white;
    }
    .workContainer{
        background-color: #E2E9EC;
        height:unset;
        padding-top:20px;
        padding-bottom:50px;
    }
    }

